# End to End AI app

In [ ]:
Data science project stages:

Step 1: Problem Statement
Step 2: Data Gathering
Step 3: EDA
Step 4: Feature Engineering
Step 5: Feature Selection
Step 6: Model Training
Step 7: Model Evaluation
Step 8: Deployment(AWS)

In [ ]:
Step 1: Problem Statement
    Prediction of student placement for placement drive.
    
    Type of Problem statement >> Binary Classification
        
ML Algorithm to Use:
    1. Logistic Regerssion
    2. KNN
    3. Decision Tree
    4. Adaboost
    5. Naive Bayes Classifier
    6. SVM

In [ ]:
Step 2: Data Gathering

In [ ]:
1. Create conda Environment
2. Create git Repository

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

In [2]:
df = pd.read_csv('students_placement.csv')
df

     cgpa   iq  profile_score  placed
0    5.97  106             61       0
1    6.83  113             77       0
2    6.60  110             61       0
3    5.54  113             68       0
4    6.84  102             67       0
..    ...  ...            ...     ...
295  6.44  107             54       0
296  6.09  108             52       0
297  7.68  101             70       1
298  7.00   90             28       1
299  4.79  118             70       0

[300 rows x 4 columns]

In [3]:
df.info()       # To check if null values are present or not.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cgpa           300 non-null    float64
 1   iq             300 non-null    int64
 2   profile_score  300 non-null    int64
 3   placed         300 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 9.5 KB

In [4]:
# Separate Features x and Y

x = df.drop('placed', axis = 1)
y = df['placed']

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25, random_state= 15, stratify=y, )

In [6]:
y_test

174    1
65     1
269    1
50     1
103    0
      ..
165    0
279    1
44     0
94     1
272    0
Name: placed, Length: 75, dtype: int64

In [7]:
# Model Training

log_reg = LogisticRegression()
log_reg.fit(x_train,y_train)

LogisticRegression()

In [8]:
# Model Evaluation (Check Accuaracy)

# Test data (Unseen data)
y_pred = log_reg.predict(x_test)

acc_score = accuracy_score(y_test, y_pred)
print('Accuarcy Score is :\n', acc_score)

cnf_matrix = confusion_matrix(y_test,y_pred)
print('Confusion Matrix :\n',cnf_matrix)

clf_report = classification_report(y_test, y_pred)
print('Classification Report :\n',clf_report)

Accuarcy Score is :
 0.9066666666666666
Confusion Matrix :
 [[35  2]
 [ 5 33]]
Classification Report :
               precision    recall  f1-score   support

           0       0.88      0.95      0.91        37
           1       0.94      0.87      0.90        38

    accuracy                           0.91        75
   macro avg       0.91      0.91      0.91        75
weighted avg       0.91      0.91      0.91        75

In [9]:
# Train Data Accuarcy

y_pred_train = log_reg.predict(x_train)

acc_score = accuracy_score(y_train, y_pred_train)
print('Accuarcy Score is :\n', acc_score)

cnf_matrix = confusion_matrix(y_train, y_pred_train)
print('Confusion Matrix :\n',cnf_matrix)

clf_report = classification_report(y_train, y_pred_train)
print('Classification Report :\n',clf_report)

Accuarcy Score is :
 0.8622222222222222
Confusion Matrix :
 [[98 13]
 [18 96]]
Classification Report :
               precision    recall  f1-score   support

           0       0.84      0.88      0.86       111
           1       0.88      0.84      0.86       114

    accuracy                           0.86       225
   macro avg       0.86      0.86      0.86       225
weighted avg       0.86      0.86      0.86       225

In [ ]:
Accuarcy:
    Test Accuracy : 91%
    Train Accuarcy : 86%
        
Generalised Model Low Bias & Low Variance

In [ ]:
Finally Select Most generalised model - Decison Tree or random forest,

In [12]:
# Create Pickle file

import pickle

In [14]:
pickle.dump(log_reg, open('student_model.pkl', 'wb'))

In [ ]:
User Input